
html {
    height: 100%;
    font-family: 'Itim', cursive;
}

.re-popup {
    position: relative;
    background: #FFF;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
    min-height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    font-size: 26px;
}

.re-main {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    width: 100%;
    min-width: 981px;
    flex-direction: column;
}

.re-title-2 {
    font-family: NewYearFont;
    font-size: 82px;
    color: #faffcc;
    text-align: center;
}

.re-title {
    text-align: center;
    background: url('../img/plashka.png') no-repeat;
    background-position: 0px -30px;
    background-size: cover;
    font-size: 20px;
    color: #faffcc;
    font-weight: bold;
    min-height: 133px;
    padding-left: 130px;;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    font-family: 'Itim', cursive;
    display: flex;
    align-items: center;
}

.re-title__text {
    margin-top: -10px;
}

.re-tile {
    width: 100px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
    transition: all 0.5s;
}

.re-tile:hover {
    transform: scale(1.5);
}

.re-tile__image {
    max-width: 100%;
}

.re-container {
    width: 1170px;
    margin: auto;
}

.re-presents-field {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.re-presents-field-row {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.re-presents-field-row._space-between {
    justify-content: space-between;
}

.re-presents-field-row._space-around {
    justify-content: space-around;
}

.re-hidden {
    visibility: hidden;
}

.re-image {
    max-width: 100%;
}

.re-content {
    flex-grow: 1;
}

.re-content._tree-bg {
    background-repeat: no-repeat;
    background-size: 379px 600px;
    background-position: center -3%;
    background-image: url(../img/tree.png);
    transition: 0.5s background-position;
}

.re-content._tree-bg._move-to-right {
    background-position: 90% -3%;
}

.re-present {
    width: 100px;
    cursor: pointer;
}

.re-present:hover {
    z-index: 1;
}

.re-present__image {
    transition: 1s all;
}

.re-present__image:hover,
.re-present__image:active {
    transform: scale(1.2);
    z-index: 1;
}

@font-face {
    font-family: 'NewYearFont';
    src: local('NewYearFont'),
        url(../fonts/new-year.otf);
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    /* -webkit-animation-fill-mode: both;
    animation-fill-mode: both; */
 }

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}


.re-ded {
    position: absolute;
    bottom: -60px;
    left: -50px;
    display: flex;
}

.re-message {
    background-image: url('../img/text-border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.re-modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    transition: 0.5s all;
    z-index: 10;
}

.re-text {
    color: #fff;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    font-size: 42px;
}
